body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a,
h1,
h2,
h3,
h4,
h5 {
  color: black !important;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper a {
  height: 100%;
  margin-left: 25px;
}

.nav-wrapper a img {
  height: 100%;
}

.main {
  width: 80%;
  margin: auto;
  padding: 50px;
}

.card-panel {
  padding: 50px;
}
